src/test/customer.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstname" type="xs:string" />
                <xs:element name="lastname" type="xs:string" />
                <xs:element name="birthdate" type="xs:date" />
                <xs:element name="drivingLicenseNumber" type="xs:string" />
                <xs:element name="drivingLicenseIssueDate" type="xs:date" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>